@model DastPocTarget.Models.AppUser

@{
    ViewData["Title"] = "DAST PoC: Target";
}

<div class="text-center">
    <p>@Model.Message</p>
    <form method="post">
        <input asp-for="Username" />
        <input asp-for="Password" />
        <input type="submit" />
    </form>
</div>
